services:
  - type: web
    name: rag-ai-backend
    runtime: docker
    repo: https://github.com/GalaxyMatrix/RAG-Application
    branch: main
    dockerfilePath: ./Dockerfile
    envVars:
      - key: OPENAI_API_KEY
        sync: false
      - key: QDRANT_URL
        sync: false
      - key: QDRANT_API_KEY
        sync: false
      - key: ENVIRONMENT
        value: production
      - key: INNGEST_EVENT_KEY
        sync: false
      - key: INNGEST_SIGNING_KEY
        sync: false
    healthCheckPath: /health